<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/bootstrap.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
        <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="static/css/style.css"/>
 -->		
       
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div role="navigation">
		<div class="navbar navbar-inverse">
			<a href="/home" class="navbar-brand">Home</a>
			<form class="navbar-form navbar-left">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/products" th:href="@{/products}">Insert Product</a></li>
					<li><a href="/item" th:href="@{/item}">Add New Item</a></li>
					<!-- <li><a href="/customers" th:href="@{/displaycustomers}">Customer</a></li> -->
					<!-- <li><a href="/suppliers" th:href="@{/suppliers}" >Supplier</a></li> -->
					<li><a href="/displayproduct" th:href="@{/displayproduct}">Product List</a></li>
				</ul>
			</div>
			</form>
		</div>
	
	</div>
	<div class="container">
		
		<h1>Add New Item</h1>
		<form method="POST" action="/upload" enctype="multipart/form-data">
		    <input type="file" value="choose image" name="file" id = "fileUpload" onchange = "updateImageField()"/>
		    <input type="submit" value="upload image" />
		</form>
		
		
		<form class="form-horizontal" th:action="@{/item}" th:object="${item}" method="post" >
			<div class="form-group">
				<label class="control-label col-md-3">Item Name:</label>
				<div class="col-md-7">
					<input type="text" class="form-control" th:field="*{product_name}" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Seller ID:</label>
				<div class="col-md-7">
					<input type="text" class="form-control" th:field="*{seller_id}" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Category:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{category}" />
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Quantity:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{quantity}" />
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Cost Price:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{cost_price}" />
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Selling Price:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{selling_price}" />
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Description:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{description}" />
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Image Name:</label>
					<div class="col-md-7">
						<input type="text" id = "uploadFileName" class="form-control" th:field="*{image_path}" readonly/>
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Availability Status</label>
					<div class="col-md-7">
					  <select th:field="*{status}">
					  		
						  <option disabled="" selected="selected" value="">Select Any Option</option>
						  <option value="0">Unavailable</option>
						  <option value="1">Available</option>
						 
					</select>
					
					</div>
			</div>
			
			
			<div class="pull-left">
				
				<input type="submit" class="btn  btn-primary" value="Submit" />								
				<input type="reset" class="btn btn-primary" value="Reset" />
				
			</div>
		
		</form>
	</div>
	
	<script src="/js/updateItem.js"></script>
</body>
</html>