<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> My Profile</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/bootstrap.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

       
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/js/updateItem.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
		<div role="navigation">
		<div class="navbar navbar-inverse">
			<a href="/" class="navbar-brand">Home</a>
			<form class="navbar-form navbar-left">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					
					<li><a href="/item" th:href="@{/item}">Add New Item</a></li>
					
					<li><a href="/displayproduct" th:href="@{/displayitem}">Item List</a></li>
					<li><a href="/emailadmin" th:href="@{/emailadmin}">Contact Admin</a></li>
					<li>
					<button type="button" class="btn btn-info" onclick ="window.location.href='http://localhost:8080/allproducts'">Back To Main</button>
					</li>
				</ul>
			</div>
			</form>
		</div>
	
	</div>
    <div class="container">
    
		<h1>My Profile</h1>				
		
		<form class="form-horizontal" th:action="@{/myprofile}" th:object="${user}" method="POST" >
		
			<div class="form-group">
				<label class="control-label col-md-3">User Id</label>
				<div class="col-md-7">
					<input type="text" class="form-control" th:field="*{ID}" readonly/>
				</div>
			
			</div>
		
			<div class="form-group">
				<label class="control-label col-md-3">Name:</label>
				<div class="col-md-7">
					<input type="text" class="form-control" th:field="*{name}" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Email:</label>
				<div class="col-md-7">
					<input type="text" class="form-control" th:field="*{emailID}" readonly/>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Password:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{password}" />
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Phone Number:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{phone_number}" />
					</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3">Role:</label>
					<div class="col-md-7">
						<input type="text" class="form-control" th:field="*{role}" />
					</div>
			</div>
			
			<div class="pull-left">
				
				<input type="submit" class="btn  btn-primary" value="Submit" />								
				<input type="reset" class="btn btn-primary" value="Reset" />
				
			</div>
		
		</form>
	</div>
	
</body>
</html>